body{
  padding: 2em;
  background-color: #464a51;
}

* {
  margin: 0;
  padding: 0;
}

#text-area{
  flex: 1;
  order: 2;
  background: #333;
  margin-left: 20px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

#tree {
  width: 800px;
  height: 1000px;
  background-color: White;
  padding: 3%;
  overflow: scroll;
}

#sunburst-container {
  display: flex;
  flex-direction: row;
  /*border: 1px solid white;*/
  margin-top: 50px;
}

#sun-container {
  width: 95%;
  height: auto;
  margin-right: -40px;
/*  margin-top: 30px;*/
}

#package-data {
  width: 5%;
  margin-left: 10%;
}

.package-info {
  border: 5px solid black;
  /*background-color: #FFFFFF;*/
  width: 110%;
  padding: 10px;
}

.package-name {
  text-align: center;
}
