body{
  /* background-color: #FFFFFF; */
  /* background-color: WhiteSmoke; */
  background-color: cornflowerblue;
}

.node {
cursor: pointer;
}

.node circle {
fill: #fff;
stroke: steelblue;
stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

/*#tree {
  width: 800px;
  height: 1000px;
  background-color: White;
  padding: 3%;
  overflow: scroll;
}*/

#sunburst-container {
  display: flex;
  flex-direction: row;
}

#sun-container {
  width: 95%;
  height: auto;
  margin-right: -20px;
}

#package-data {
  width: 5%;
  margin-left: 10%;
}

.package-info {
  border: 1px solid black;
  background-color: #FFFFFF;
  width: 100%;
  padding: 10px;
}

.package-name {
  text-align: center;
}

/*#package-panel {
  display: flex;
  flex-direction: row;
  width: 15%;
  height: auto;
  padding: 5px;
  border: 1px solid black;
  background-color: #FFFFFF;
}*/



/*#package-name {
  display: flex;
  flex-direction: column;
}

#package-percentage {
  display: flex;
  flex-direction: column;
}

#package-time {
  display: flex;
  flex-direction: column;
}*/
